.info-notes {
  li {
    font-weight: 400;
    line-height: 1.33337;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    @apply tracking-[-.01em];
  }
}

.foot-notes {
  line-height: 1.33337;

  @apply  px-0 pt-[17px] pb-[11px] text-[12px] font-normal tracking-[-0.01em] pb-[4px] mx-auto my-0 max-w-[980px] py-0 px-[22px]
}

.notes p {
  line-height: 1.33337;
  @apply text-[12px] font-normal tracking-[-0.01em] pb-[4px]
}
