<nav class="breadcrumb-wrapper">
  <a class="breadcrumb ">
    <span class="breadcrumb-home" aria-hidden="true"></span>
  </a>
  <div class="breadcrumb-content">
    <ol class="breadcrumb-list" vocab="http://schema.org/" typeof="BreadcrumbList">
      <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
        <a class="breadcrumb-link" href="/my/ipad/" property="item" typeof="WebPage">
          iPad
        </a>
      </li>
      <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
        <span property="name">iPad&nbsp;10.9-inch</span>
      </li>
    </ol>
  </div>
</nav>
