.breadcrumb {
  left: 0;
  position: absolute;
  z-index: 2;
  top: 17px;
}

.breadcrumb-wrapper {
  padding: 17px 0;
  position: relative;
  z-index: 1;
}

.breadcrumb-home {
  width: 14px;
  height: 72px;
  background-size: 14px 72px;
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/ac/globalfooter/7/en_MY/assets/ac-footer/breadcrumbs/apple/icon_large.svg");
  height: 18px;
  display: block;
  position: relative;
  z-index: 2;
  color: transparent;
  background-position-y: -36px;
}

.breadcrumb-content {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  position: relative;
  z-index: 1;
  @apply tracking-wide
}

.breadcrumb-content :before {
  content: '';
  display: table;
}

.breadcrumb-content :after {
  content: '';
  clear: both;
  display: table;
}

.breadcrumb-list {
  max-height: 9999px;
  padding-left: 25px;
  direction: ltr;
  list-style: none;
}

.breadcrumb-item {
  margin-right: 7px;
  float: left;
  padding: 3px 4px 3px 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @apply text-footer-link
}

.breadcrumb-item :before {
  width: 8px;
  height: 36px;
  background-size: 8px 36px;
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/ac/globalfooter/7/en_MY/assets/ac-footer/breadcrumbs/separator/icon_large.svg");
  margin-right: 11px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  height: 18px;
  background-position-y: 100%;
}


.breadcrumb-link {

}
