<!--<div class="content mx-auto">-->
<!--  <picture id="overview-hero-hero-2" class="overview-hero-hero loaded" data-picture-loaded="">-->
<!--    <source-->
<!--      srcset="https://www.apple.com/v/ipad-10.9/b/images/overview/hero/hero__ecv967jz1y82_small.jpg, https://www.apple.com/v/ipad-10.9/b/images/overview/hero/hero__ecv967jz1y82_small_2x.jpg 2x"-->
<!--      media="(max-width:734px)">-->
<!--    <source-->
<!--      srcset="https://www.apple.comv/ipad-10.9/b/images/overview/hero/hero__ecv967jz1y82_medium.jpg, https://www.apple.com/v/ipad-10.9/b/images/overview/hero/hero__ecv967jz1y82_medium_2x.jpg 2x"-->
<!--      media="(max-width:1068px)">-->
<!--    <source-->
<!--      srcset="https://www.apple.com/v/ipad-10.9/b/images/overview/hero/hero__ecv967jz1y82_large.jpg, https://www.apple.com/v/ipad-10.9/b/images/overview/hero/hero__ecv967jz1y82_large_2x.jpg 2x"-->
<!--      media="(min-width:0px)">-->
<!--    <img src="https://www.apple.com/v/ipad-10.9/b/images/overview/hero/hero__ecv967jz1y82_large.jpg"-->
<!--         onload="__lp(event)"-->
<!--         alt="iPad in blue, pink, yellow and silver colours and one iPad attached to the Magic Keyboard Folio.">-->
<!--  </picture>-->
<!--</div>-->

<div class="bg-black-2">
  <app-section-app></app-section-app>
  <app-ar-preview></app-ar-preview>
  <app-feature-section></app-feature-section>
  <app-right-for-you></app-right-for-you>
</div>
