.gallery-wrapper {

  &.zoomed {
    overflow:visible;
  }

  @media only screen and (max-width: 1068px) {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  @media only screen and (max-width: 1023px) and (max-device-width: 736px) {

    @apply mb-0 px-0 pb-0 pt-[15px]  my-0  w-auto
  }
  &.ready {
    @apply opacity-100
  }

  clear: both;
  transition: opacity .3s;
  @apply my-[80px] mx-auto opacity-0
}

.images-container {
  &:not(.zoomed) {
    &:hover {
      transform: scale(1.02);
    }
  }
  &.zoomed {
    @media only screen and (max-width: 1023px) and (max-device-width: 736px) {
      @apply max-w-full
    }

  }

  @media only screen and (max-width: 1068px) {
    &.zoomed {
      @apply w-full
    }
    @apply w-[920px] h-[100px]
  }

  @media only screen and (max-width: 1023px) and (max-device-width: 736px) {
    @apply w-[742px]
  }

  transition: transform .2s linear;
  @apply w-[1062px] h-[143px] my-0 mx-auto relative
}

.image-list {
  transition: transform .3s;
  @apply z-[1] relative list-none p-0 m-0 h-full
}

.image-list > li {
  @apply box-border relative z-[1] m-0 p-0 float-left min-h-[2px] h-full
}

.image-list > li button {
  @apply block w-full h-full
}

.a11y {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0 0 99.9% 99.9%);

  @apply absolute overflow-hidden h-[1px] w-[1px] p-0
}

.zoomable-gallery {
  &.zoomed {
    @media only screen and (max-width: 1068px)  {
      min-width: auto;
    }

    overflow-x: scroll;
    @apply z-[99999] min-w-[1024px]
  }

  @media only screen and (max-width: 1068px)  {
    @apply h-[100px]
  }

  transition: left .3s, top .3s, width .3s, height .3s, transform .3s;
  @apply h-[143px] w-full top-0 left-0 m-0 list-none
  absolute z-0 overflow-hidden
}

.zoomable-gallery-list {
  &.zoomed {
    @apply w-[4871px]
  }

  @media only screen and (max-width: 1068px) {
    @apply w-[920px]
  }


  @media only screen and (max-width: 1023px) and (max-device-width: 736px) {
    @apply w-[741px]
  }
  transition: width .3s, left .3s, transform .2s linear;;
  @apply w-[1062px] left-0 m-0 list-none z-[1] relative h-full p-0 bg-white
}

.gallery-list-item {
  img {
    @apply w-full h-full max-h-full block
  }

  @apply box-border relative z-[1] m-0 p-0 float-left min-h-[2px] block text-center h-full overflow-hidden
}

.zoomed-image {
  &.zoomed {
    @apply block
  }

  img {
    @apply w-full h-full max-h-[100%] block
  }

  display: none;
  @apply absolute z-[1] top-0 bottom-0 left-0 right-0
}

.zoom-close {
  &:hover {
    background-color: rgba(0, 0, 0, .45);
    color: hsla(0, 0%, 100%, .8);
  }
  &.zoomed {
    @apply fixed opacity-100 z-[2] block
  }

  display: none;
  line-height: 1.4;
  transition: opacity .6s,background-color .3s,color .3s;
  background-color: rgba(0,0,0,.25);
  @apply absolute top-[20px] left-[20px] w-[42px] h-[42px] opacity-0 cursor-pointer rounded-[50%] text-center font-[700] text-white
}

.arrow {
  &:hover {
    background-color: rgba(0,0,0,.45);
    color: hsla(0, 0%, 100%, .8)
  }
  &.zoomed {
    @apply block
  }
  background-color: rgba(0,0,0,.25);
  display: none;
  line-height: 3.05882rem;
  transition: background-color .1s linear,color .1s linear,opacity .1s linear;
  @apply text-white w-[3.05882rem] font-[300] h-[3.05882rem] rounded-[3.05882rem] text-[53px] overflow-hidden
}

.zoom-next {
  &.zoomed {
    @media only screen and (max-width: 736px) {
      @apply opacity-0
    }
    @apply fixed opacity-100 z-[2]
  }
  transition: opacity .6s,background-color .3s,color .3s;
  @apply right-[18px] mt-[-1.52941rem] top-1/2 absolute opacity-0
}

.zoom-previous {
  &.zoomed {
    @media only screen and (max-width: 736px) {
      @apply opacity-0
    }
    @apply fixed opacity-100 z-[2]
  }
  transition: opacity .6s,background-color .3s,color .3s;
  @apply left-[18px] mt-[-1.52941rem] top-1/2 absolute opacity-0
}


