<app-section-box>
  <div
    class="section-ar-preview ">
    <div class="ar-box ar-content flex-row flex-wrap max-w-[980px] max-1068:max-w-[690px] mx-auto items-center py-0 flex ">
      <div class="ar-text box-border max-734:self-center max-1068:text-center max-734:mt-[49px]
      basis-7/12 max-w-7/12 max-1068:basis-1/2 max-1068:max-w-1/2 max-small:basis-full max-small:max-w-full">
        <div class="ar-icon">
          <picture class="ar-picture block w-[38px] h-[43px] max-1068:mx-auto max-1068:w-[31px] max-1068:h-[36px] max-734:w-[32px] max-734:h-[37px]" data-lazy="" data-picture-loaded="">
            <img src="assets/images/ar_icon.png" />
          </picture>
        </div>
        <h2 class="ar-title max-[426px]:font-normal section-headline max-w-[420px] mt-[26px] mb-0 max-734:mx-auto max-734:mb-[10px]">
          Use AR to view the new&nbsp;iPad.
        </h2>
        <p class="section-normal-text max-w-[270px] max-1068:pr-0 max-1068:mx-auto max-734:my-0 max-734:mx-auto">
          Open this page using Safari on your iPhone&nbsp;or&nbsp;iPad.
        </p>
      </div>
      <div class="ar-image box-border basis-5/12 max-w-5/12 max-1068:basis-1/2 max-1068:max-w-1/2 max-small:basis-full max-small:max-w-full self-end">
        <div class="image-container content-image">
          <div class="ipad-image gallery-item">
            <picture class="relative left-[3px] max-1068:left-0 block w-[386px] h-[525px] max-1068:w-[318px] max-1068:h-[430px] max-small:w-[252px] max-small:h-[322px]" data-lazy="" data-picture-loaded="">
              <img src="assets/images/ar_ipad.jpg" />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-section-box>
