<div class="explore-container">
  <div class="explore-inner">
    <div class="explore-content-container">
      <h2 class="explore-title">There's always more to explore. </h2>
      <p class="explore-title-desc">
        Entertainment. Workouts. Games. All on your iPad.
      </p>
      <p class="explore-title-link">
        <a class="text-nav-link-color more hover:underline">
          Check out services only on Apple
        </a>
      </p>
      <div class="services-container">
        <div class="services-wrapper">
          <div class="services-row row">

            <div class="services-item">
              <div class="item-container-wrapper">
                <div class="item-image-container">
                  <img height="137" width="190" src="assets/images/ipad-services-tv-202208_FMT_WHH.png"
                       alt>
                </div>
                <div class="item-services-info">
                  <img width="48" height="48" src="assets/images/ipad-pro-services-tv-icon-202104.png"
                       alt>
                  <div class="services-info-title">Apple TV+</div>
                  <div class="services-info-description">
                    Watch Apple Original series and films across all your devices.**
                  </div>
                  <a class="services-link more" href="https://www.apple.com/my/apple-tv-plus">Learn&nbsp;more
                  </a>
                </div>
              </div>
            </div>

            <div class="services-item">
              <div class="item-container-wrapper">
                <div class="item-image-container">
                  <img height="137" width="190" src="assets/images/ipad-pro-services-fitness-202104_FMT_WHH.png"
                       alt>
                </div>
                <div class="item-services-info">
                  <img width="48" height="48" src="assets/images/ipad-pro-services-fitness-icon-202104.png"
                       alt>
                  <div class="services-info-title">Apple Fitness+</div>
                  <div class="services-info-description">
                    iPhone users get 3 months free by purchasing an iPad.°
                  </div>
                  <a class="services-link more" href="https://www.apple.com/my/apple-tv-plus">Learn&nbsp;more
                  </a>
                </div>
              </div>
            </div>

            <div class="services-item">
              <div class="item-container-wrapper">
                <div class="item-image-container">
                  <img height="136" width="188" src="assets/images/ipad-pro-services-arcade-202104_FMT_WHH.png"
                       alt>
                </div>
                <div class="item-services-info">
                  <img width="48" height="48" src="assets/images/ipad-pro-services-arcade-icon-202104.png"
                       alt>
                  <div class="services-info-title">Apple Arcade</div>
                  <div class="services-info-description">
                    Enjoy unlimited, ad-free access to Arcade Originals, all-new games produced by Apple.** &nbsp;
                  </div>
                  <a class="services-link more" href="https://www.apple.com/my/apple-tv-plus">Learn&nbsp;more
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
