<div class="text-center">
  <a href="#" class="option-box-link">
    <div class="flex flex-col tracking-wide">
      <figure [ngClass]="'option-' + image">
      </figure>
      <div class="mt-[0.525em]">
        <h3 class="text-[19px] no-underline text-footer-category font-semibold">
          {{title}}
        </h3>
      </div>
      <div class="mt-[0.4em]">
        <p class="text-footer-category text-[14px]">
          <ng-content></ng-content>
          {{description}}
        </p>
      </div>
      <div class="mt-[0.8em] text-footer-href text-[14px]">
        <span class="learn-more-link">{{linkTitle}}</span>
        <svg class="inline-block stroke-footer-href" xmlns="http://www.w3.org/2000/svg" height="20" width="20">
          <path d="m8 15-1.062-1.062L10.875 10 6.938 6.062 8 5l5 5Z"/>
        </svg>
      </div>
    </div>
  </a>
</div>
