.mobile-sitemap-title {
  &:after {
    content: '+';
    transition: transform .3s ease, -webkit-transform .3s ease;
    @apply float-right text-[14px] font-normal
  }

  &.state-checked {
    &:after {
      transform: rotate(45deg) scale(1.08);

    }
  }
}





.mobile-sitemap-list {

  &.checked {
    position:static;
    transform:none;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    @apply visible z-[1]
  }
  z-index: -1;
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  overflow:hidden;
  @apply m-0 pt-[5px] pb-[16px] list-none p-0 top-full left-0 absolute w-full invisible
}
