/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: unset;
  }

  h2 + * {
    @apply mt-[0.8em];
  }
}

@layer utilities {
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }

  .feature-title {
    line-height: 1.0714285714;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    @media only screen and (max-width: 1068px) {
      @apply text-[44px]
    }
    @media only screen and (max-width: 734px) {
      @apply text-[40px]
    }
    @apply text-[56px] font-semibold tracking-[-0.005em] text-footer-category
  }



  .feature-description {
    line-height: 1.4211026316;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    @media only screen and (max-width: 1068px) {
      @apply text-[17px]
    }
    @apply text-footer-category text-[19px] font-normal tracking-[0.0075em]
  }

  .feature-href {
    line-height: 1.4211026316;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    @media only screen and (max-width: 1068px) {
      @apply text-[17px]
    }
    @apply text-footer-href text-[19px] font-normal tracking-[0.0075em]
  }

  .content {
    max-width: 980px;
  }

  .header {
    @apply h-[44px];
  }

  .mobile-header {
    @apply h-[48px];
  }

  .header-content {
    @apply h-[44px]
  }

  .mobile-header-content {
    @apply h-[48px]
  }

  .mobile-stick {
    top: 48px;
  }

  .stick {
    top: 44px;
  }

  .section-container {
    overflow: hidden;
    @apply bg-black-2 px-[25px]
  }

  .section-box {
    max-width: 1390px;
    box-sizing: border-box;
    overflow: hidden;
    @apply mx-auto
    h-full
    relative
    bg-white
    rounded-[30px]
  }

  .section-box-1068 {
    @apply rounded-[25px]
  }

  .section-box-734 {
    max-width: 400px;
    @apply rounded-[20px]
  }

  .section-box-374 {
    @apply rounded-[0px]
  }

  .section-content {
    width: 980px;
    @apply mx-auto
  }

  .section-content-1068 {
    width: 692px;
  }

  .section-content-734 {
    width: 87.5%
  }

  .section-headline {
    line-height: 1.0714285714;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    @media only screen and (max-width: 1068px) {
      line-height: 1.0909090909;
      @apply text-[44px] tracking-[0.002em]
    }
    @media only screen and (max-width: 734px) {
      line-height: 1.1;
      @apply text-[40px] tracking-[0em] mb-[10px] mx-auto
    }
    @apply text-[56px] font-semibold tracking-[-0.005em] mt-[26px] max-w-[420px]
  }

  .section-normal-text {
    line-height: 1.4211026316;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    @media only screen and (max-width: 1068px) {
      line-height: 1.4705882353;
      @apply text-[17px] tracking-[-0.002em] pr-0
    }

    @media only screen and (max-width: 734px) {
      @apply my-0 mx-auto
    }

    @apply text-[19px] tracking-[.0075em] font-normal pr-[80px] max-w-[270px]
  }
  .close-svg {
    fill: currentColor;
    transform: translate(-50%, -50%);
    @apply absolute left-1/2 top-1/2 h-[20px] w-[20px] block;
  }

  .gallery-dot-container {
    .dotlist {
      .dotlist-item {
        .dot {
          &.selected {
            background-color: rgba(0, 0, 0, .56);
            @apply cursor-default
          }

          background-color: rgba(0, 0, 0, .16);
          transition: background-color .1s linear;
          line-height: 1.47059;
          @apply absolute rounded-[50%] box-border p-0 h-[8px] w-[8px] top-0 left-0 text-[17px] font-normal tracking-[-.022em]
        }

        @apply list-none my-0 mx-[7px] w-[8px] h-[8px] relative
      }

      @apply m-0 list-none inline-flex justify-center
    }


    @apply bottom-0 text-center box-border absolute left-0 right-0 m-auto list-none inline-block z-[1]
  }
}

.sticky-header-nav-link {
  @media only screen and (max-width: 833px) {
    @apply ml-0 inline-block w-full h-[44px] text-[14px]
  }
  @apply text-[12px]
  text-black
  ml-[24px]
  opacity-[.88]
  font-normal
}

.sticky-header-nav-link:hover {
  color: #06c;
  @apply opacity-100
}

.sticky-header-nav-link {
  &.disabled {
    @apply text-black
    opacity-[.56]
    cursor-default
  }
}

.nav-link-button {
  @apply text-[12px]
  border
  rounded-full
  bg-primary
  border-primary
  text-white
  pr-[11px]
  pl-[10px]
  pb-[2px]
  pt-[6px]
  cursor-pointer
  font-normal
}

.nav-link-button:hover {
  background: #147ce5;
}

.nav-link-button:active {
  background: #0068d1;
}

//html {
//  ::-webkit-scrollbar {
//    display: none;
//  }
//
//  -ms-overflow-style: none;
//  scrollbar-width: none;
//}

a {
  @apply cursor-pointer
}

:root {

  @media only screen and (max-width: 1068px) {
    --footer-tile-border-radius: 25px;
    --footer-tile-spacing: 20px;
    --footer-tile-content-width: 690px;
    --accessories-tile-height: 500px;
  }
  @media only screen and (max-width: 833px) {
    --r-localnav-height: 48px;
    --r-localnav-stacked-height: 63px;
    --r-localnav-gn-height: var(--r-globalnav-height, 48px);
  }
  @media only screen and (max-width: 734px) {
    --footer-tile-border-radius: 20px;
    --footer-tile-spacing: 15px;
    --footer-tile-width: 400px;
    --footer-tile-content-width: none;
    --accessories-tile-height: none;
  }
  --r-localnav-height: 52px;
  --r-localnav-stacked-height: 66px;
  --r-localnav-gn-height: var(--r-globalnav-height, 44px);
  --r-localnav-viewport-large-min-width: 1024px;
  --r-localnav-viewport-large-query: (min-width: 1024px);
  --r-localnav-viewport-medium-min-width: 834px;
  --r-localnav-viewport-medium-max-width: 1023px;
  --r-localnav-viewport-medium-query: (min-width: 834px);
  --r-localnav-viewport-small-min-width: 320px;
  --r-localnav-viewport-small-max-width: 833px;
  --r-localnav-viewport-small-query: (min-width: 320px);
  --footer-tile-border-radius: 30px;
  --footer-tile-spacing: 25px;
  --footer-tile-side-spacing: var(--footer-tile-spacing);
  --footer-tile-content-width: 980px;
  --footer-tile-width: 1390px;
  --accessories-tile-height: 600px;
}
