
.main-nav {
  &.is-search {
    @apply fixed;
  }
  &.checked {

    transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
    @apply h-full bg-black
  }

  transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
  @apply min-w-[320px] absolute top-0 right-0 left-0 z-[9999] block w-full  text-[17px]
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.logo-item {
  @media only screen and (max-width: 833px) {
    &.checked {
      &:nth-child(2) {
        transition: opacity .3091s cubic-bezier(0.32, 0.08, 0.24, 1) .03s, transform .3455s cubic-bezier(0.32, 0.08, 0.24, 1) .02s, -webkit-transform .3455s cubic-bezier(0.32, 0.08, 0.24, 1) .02s;
      }

      @apply opacity-100 transform-none
    }
    border-color: rgba(255, 255, 255, .25);
    @apply opacity-0 w-full h-[44px] border-b
  }
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  height: 44px;
  z-index: 1;
  vertical-align: top;
}

.logo-link {
  @media only screen and (max-width: 833px) {
    line-height: 1.23536;
    @apply text-[17px] font-normal tracking-[-.022em]
  }
  font-size: 12px;
  line-height: 3.66667;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #f5f5f7;
  position: relative;
  z-index: 1;
  display: inline-block;
  height: 44px;
  background: no-repeat;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline-offset: -7px;

  &.link-apple {
    @media only screen and (max-width: 833px) {
      background-size: 17px 48px;
      line-height: 2.82353em;
      @apply w-[17px] h-[48px]
    }
    background-size: 14px 44px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/ac/globalnav/7/en_MY/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_apple_image__b5er5ngrzxqq_large.svg");
    background-position: center center;
    width: 14px;
  }

  &.link-search {
    background-size: 15px 88px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/ac/globalnav/7/en_MY/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__cbllq1gkias2_large.svg");
    width: 15px;
    background-position: 0 0;
  }

  &.link-shopping_bag {
    @media only screen and (max-width: 833px) {
      background-size: 17px 48px;
      line-height: 2.82353em;
      @apply w-[17px] h-[48px]
    }
    background-size: 13px 44px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/ac/globalnav/7/en_MY/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_bag_image__yzte50i47ciu_large.svg");
    background-position: center center;
    width: 13px;
  }

  &.link-store {
    @media only screen and (max-width: 833px) {
      //background-size: 40px 43px;
      //background-position: left center;
      //outline-offset: 0;
      //max-width: none;
      //@apply block w-auto p-0
    }
    background-size: 30px 44px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/ac/globalnav/7/en_MY/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_links_store_image__c7jy08initqq_large.svg");
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 2.5em;
    max-width: 51px;
  }

  &.link-mac {
    background-size: 23px 44px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/ac/globalnav/7/en_MY/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_links_mac_image__dazlko3t9a6a_large.svg");
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 1.91667em;
    max-width: 39.1px;
  }

  &.link-ipad {
    background-size: 24px 44px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/ac/globalnav/7/en_MY/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_links_ipad_image__fw9qyj9lloi2_large.svg");
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 2em;
    max-width: 40.8px;
  }

  &.link-iphone {
    background-size: 38px 44px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/ac/globalnav/7/en_MY/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_links_iphone_image__ko7x4isga4ia_large.svg");
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 3.16667em;
    max-width: 64.6px;
  }

  &.link-watch {
    background-size: 35px 44px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/ac/globalnav/7/en_MY/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_links_watch_image__gkoblojrlsqe_large.svg");
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 2.91667em;
    max-width: 59.5px;
  }

  &.link-airpods {
    background-size: 43px 44px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/ac/globalnav/7/en_MY/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_links_airpods_image__f969s84ivmaa_large.svg");
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 3.58333em;
    max-width: 73.1px;
  }

  &.link-tv {
    background-size: 65px 44px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/ac/globalnav/7/en_MY/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_links_tvhome_image__zb2ewyxbi6ae_large.svg");
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 5.41667em;
    max-width: 110.5px;
  }

  &.link-only {
    background-size: 80px 44px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/ac/globalnav/7/en_MY/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_links_onlyonapple_image__c4t8k97tougm_large.svg");
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 6.66667em;
    max-width: 136px;
  }

  &.link-accessories {
    background-size: 67px 44px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/ac/globalnav/7/en_MY/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_links_accessories_image__edj0wqmfwxyu_large.svg");
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 5.58333em;
    max-width: 113.9px;
  }

  &.link-support {
    background-size: 44px 44px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/ac/globalnav/7/en_MY/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_links_support_image__bw9kctll7u3m_large.svg");
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    width: 3.66667em;
    max-width: 74.8px;
  }

  span {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
  }
}

.link-item {
  vertical-align: top;
  @apply h-[48px] z-[1] text-center ml-[-24px] left-1/2 top-0 w-[48px] absolute block box-border
}

.item-shopping_bag {
  transition: transform 0.44s 0.2s cubic-bezier(0.04, 0.04, 0.12, 0.96), opacity 0.28s 0.36s cubic-bezier(0.52, 0.16, 0.24, 1), -webkit-transform 0.44s 0.2s cubic-bezier(0.04, 0.04, 0.12, 0.96);

  @apply h-[48px] z-[2] block visible absolute top-0 w-auto right-0
}

.mobile-list {
  &.checked {
    transition-delay: 0s;
    @apply visible;
  }

  transition: visibility 0s linear 1s;
  @apply block absolute z-[1] top-[3.52941em] right-0 bottom-0 left-0 max-w-[664px] my-0 mx-auto pt-[45px] pb-[8px] px-[40px] box-border overflow-y-auto cursor-default w-auto list-none
}

.search-container {
  .search-wrapper {
    .search-bar {
      .search-placeholder {
        &.checked {
          &:after {
            transform: none;
            transition: transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), opacity 0.06s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04s, -webkit-transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
            @apply opacity-100
          }
        }

        &:after {
          content: '';
          transform-origin: 0 0;
          transform: scaleY(0);
          transition: transform 0.38s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s, opacity 0.1s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.42s, -webkit-transform 0.38s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s;
          @apply left-0 block absolute z-[1] top-0 w-full h-[2.11765em] bg-footer-category rounded-[8px] opacity-0
        }
        .search-input {


          .search-cancel {
            .cancel-text {
              line-height: 1.23536;
              @apply text-[#2997ff] opacity-0 text-[17px] font-normal tracking-[0.-022em]
            }

            &:before {
              width: calc(100% + 18px);
              content: "";
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
              @apply right-0 block absolute z-[1] top-0 h-full
            }

            line-height: 2.11765em;
            transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
            @apply z-[2] h-[2.11765em] block right-auto relative opacity-100 w-auto py-0 px-[8px] ml-[10px] top-0 text-[#86868b] cursor-pointer
          }

          .search-input-text {
            .placeholder-text {
              line-height: 1.23536;
              @apply text-[17px] font-normal tracking-[-.022em]
            }

            .search-icon {
              background-position: left 8px center;
              background-size: 14px 14px;
              background-image: url("https://www.apple.com/ac/globalnav/7/en_MY/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__cbllq1gkias2_small.svg");
              @apply left-0 top-0 absolute bg-no-repeat w-[30px] h-[2.11765em] opacity-80
            }

            &.checked {
              transform: none;
              transition: transform 0.28s cubic-bezier(0.32, 0.08, 0.24, 1) 0.08s, opacity 0.26s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s, -webkit-transform 0.28s cubic-bezier(0.32, 0.08, 0.24, 1) 0.08s;
              @apply opacity-100
            }

            line-height: 2.11765em;
            transform: translateY(-8px);
            transition: transform .49s cubic-bezier(0.32, 0.08, 0.24, 1) 0.15s, opacity 0.2s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.16s, -webkit-transform .49s cubic-bezier(0.32, 0.08, 0.24, 1) 0.15s;
            @apply pl-[30px] block text-[#6e6e73]
          }

          flex: 1;
          line-height: 2.11765em;
          @apply relative z-[3] p-0 overflow-hidden rounded-[8px]
        }

        @apply flex justify-center relative z-[1] max-w-[584px] my-0 mx-auto
      }

      outline-offset: 0;
      transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
      line-height: 1.23536;
      @apply text-[17px] font-normal tracking-[-.022em] block h-[2.11765em] max-w-[584px] mx-auto my-0 p-0 opacity-100 text-[#f5f5f7]
      relative z-[1] bg-no-repeat whitespace-nowrap
    }

    @apply m-0 p-0 h-[2.11765em] block
  }

  &.checked {
    &:after {
      transition: opacity 0.31s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.03s, transform 0.34s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s, -webkit-transform 0.34s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s;
      @apply opacity-100 transform-none
    }



    transition: background .18s cubic-bezier(0.32, 0.08, 0.24, 1) .18s, visibility 0s linear 0s;
    @apply bg-black visible
  }

  &:after {

    content: '';
    transform: translateY(-46px);
    transition: opacity .2s cubic-bezier(0.52, 0.16, 0.52, 0.84) .3s, transform 0.38s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s, -webkit-transform 0.38s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s;
    @apply block h-[1px] bg-[#424245] absolute z-[2] right-0 bottom-0 left-0 opacity-0
  }

  transition: background .44s cubic-bezier(0.52, 0.16, 0.24, 1) .1s, visibility 0s linear .5s;
  @apply block absolute z-[4] top-[48px] right-0 bottom-0 left-0
  px-[10px] py-0 h-[3.11765em] box-border bg-transparent invisible
}

.search-view {
  &.is-search {
    @apply block
  }
  @apply hidden
}

.search-view-content {
  &.is-search {
    animation: none;
  }
  height: calc(100vh - 16px);
  @apply absolute top-0 left-0 bottom-0 right-0 w-full h-auto z-[3]
}

.search-view-bar {
  &.is-search {
    @apply opacity-100
  }
  @apply bg-black border-b border-[#424245] box-border w-full h-auto py-[0.74118em] px-[10px] relative z-[2] opacity-0
}

.search-bar-wrapper {
  @apply flex justify-center max-w-[574px] mx-auto my-0
}

.search-form {
  flex:1;
  line-height: 2.11765em;
  @apply h-[2.11765em] p-0
}

.search-form-wrapper {
  &.is-search {
    @apply right-auto
  }
  @apply right-[200%] bg-footer-category rounded-[8px] p-0 h-[2.11765em] relative z-[2]
}

.search-form-input {
  &.is-search {
    animation:none;
  }
  line-height: 1.23536;
  width: calc(100% - (30px * 2));
  outline: none;
  text-overflow: ellipsis;
  @apply h-[1.71419em] pt-[3px] px-[30px] pb-[4px] relative text-[17px] font-normal tracking-[-.022em] overflow-hidden
  whitespace-nowrap text-white bg-transparent
}

.form-submit-button {
  &.disabled {
    @apply opacity-80 cursor-default
  }
  background-position: left 8px center;
  background-size: 14px 14px;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  background-image: url("https://www.apple.com/ac/globalnav/7/en_MY/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__cbllq1gkias2_small.svg");
  @apply w-[30px] h-[2.11765em] bg-no-repeat left-0 absolute z-[1] top-0
}

.form-reset-button {
  .reset {
    background-size: 15px 16px;
    transform: translateY(-50%);
    background-image: url("https://www.apple.com/ac/globalnav/7/en_MY/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_reset__98n5h3q5beq2_small.svg");
    @apply w-[15px] h-[16px] bg-no-repeat right-[8px] block top-1/2 absolute
  }
  transition: opacity 0.3s ease;
  @apply right-0 cursor-default block opacity-0 h-full w-[30px] absolute z-[1] top-0
}

.cancel-form {
  .cancel {
    line-height: 1.23536;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    @apply text-[17px] font-normal tracking-[-.022em] text-[#2997ff]
  }
  pointer-events: auto;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  @apply block right-auto relative opacity-100 w-auto h-[36px] py-0 px-[8px] ml-[10px]
  z-[4] top-0 text-[#86868b] cursor-pointer
}
