<div class="main-nav "
     [ngClass]="{'checked': isCloseVisible, 'bg-black-1 tablet:header mobile-header': !isCloseVisible, 'is-search': isSearchTriggered }">

  <div class="content h-full mx-auto text-white w-full tablet:header-content mobile-header-content">
    <ul class="tablet:flex box-border hidden py-2 justify-between h-full w-full items-center">

      <ng-container *ngFor="let header of headerList" [ngTemplateOutlet]="navLink"
                    [ngTemplateOutletContext]="{title: header?.title, link: header?.link, isIcon: header?.isIcon}"></ng-container>
    </ul>

    <div class="flex list-none box-border tablet:hidden content mx-auto py-2 justify-between h-full items-center">

      <li *ngIf="!isCloseVisible;else closeButton" (click)="triggerDrawer()"
          class="text-[12px] opacity-80 hover:opacity-100 px-2">
      <span
        class="material-symbols-outlined">
drag_handle
</span>
      </li>
      <ng-template #closeButton>
        <li class="text-[12px] opacity-80 hover:opacity-100 px-2" (click)="triggerClose()">
        <span
          class="material-symbols-outlined">
close
</span>
        </li>
      </ng-template>
      <li class="text-[12px] opacity-80 hover:opacity-100 px-2 link-item">
        <a class="link-apple logo-link"><span>apple</span></a>
      </li>
      <li class="text-[12px] opacity-80 hover:opacity-100 px-2 item-shopping_bag">
      <a [ngClass]="{'opacity-0':isCloseVisible}" class="link-shopping_bag logo-link">
        <span>
          shopping_bag
        </span>
      </a>
      </li>
    </div>
  </div>

  <div *ngIf="isCloseVisible" class="tablet:hidden block">
    <div class="search-container" *ngIf="!isSearchTriggered" (click)="triggerSearch()" [ngClass]="{'checked': isCloseVisible}">
      <div class="search-wrapper" [ngClass]="{'checked': isCloseVisible}">
        <div class="search-bar" [ngClass]="{'checked': isCloseVisible}">
          <div class="search-placeholder" [ngClass]="{'checked': isCloseVisible}">
            <div class="search-input" [ngClass]="{'checked': isCloseVisible}">
              <div class="search-input-text" [ngClass]="{'checked': isCloseVisible}">
                <div class="search-icon" [ngClass]="{'checked': isCloseVisible}"></div>
                <span class="placeholder-text" [ngClass]="{'checked': isCloseVisible}">Search apple.com</span>
              </div>
              <div class="search-cancel" [ngClass]="{'checked': isCloseVisible}">
                <span class="cancel-text" [ngClass]="{'checked': isCloseVisible}">Cancel</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div *ngIf="isCloseVisible" class="tablet:hidden block">
    <ul *ngIf="!isSearchTriggered" class="mobile-list">
      <ng-container *ngFor="let header of headerList" [ngTemplateOutlet]="mobileLink"
                    [ngTemplateOutletContext]="{title: header?.title, link: header?.link, isIcon: header?.isIcon}"></ng-container>
    </ul>
    <aside class="search-view" [ngClass]="{'is-search': isSearchTriggered}">
      <div class="search-view-content" [ngClass]="{'is-search': isSearchTriggered}">
        <div class="search-view-bar" [ngClass]="{'is-search': isSearchTriggered}">
          <div class="search-bar-wrapper">
            <form class="search-form">
              <div class="search-form-wrapper" [ngClass]="{'is-search': isSearchTriggered}">
                <input class="search-form-input" placeholder="Search apple.com" type="text" [ngClass]="{'is-search': isSearchTriggered}">
                <input class="border-0 bg-transparent">
                <button class="form-submit-button"></button>
                <button class="form-reset-button">
                  <span class="reset"></span>
                </button>
              </div>
            </form>
            <button (click)="cancelTrigger()" class="cancel-form">
              <span class="cancel">Cancel</span>
            </button>
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>
<div class="place-holder" style="height:48px"></div>


<ng-template #navLink let-title="title" let-link="link" let-isIcon="isIcon">

  <li class="logo-item first:pl-0 last:pr-0 px-[8px] opacity-80 hover:opacity-100">
    <a href="#" [ngClass]="'link-' + title"
       class="logo-link"><span>{{title}}</span></a></li>

</ng-template>

<ng-template #mobileLink let-title="title" let-link="link" let-isIcon="isIcon">

  <li *ngIf="!toExclude.includes(title)" class="logo-item" [ngClass]="{'checked': isCloseVisible}">
    <a href="#" [ngClass]="'link-' + title"
       class="logo-link"><span>{{title}}</span></a></li>

</ng-template>
